[package]
name = "atsamx7x-hal"
version = "0.0.1"
authors = ["Michal Fita <michal.fita@gmail.com>"]
description = "HAL and Peripheral access API for ATSAMS20 microcontrollers"
categories = [
    "embedded",
    "hardware-support",
    "no-std"
]
keywords = [
    "no-std",
    "arm",
    "cortex-m",
    "embedded-hal",
    "hal"
]
license = "0BSD"
repository = "https://github.com/michalfita/atsams-rust"
readme = "README.md"
edition = "2018"

[dependencies]
cortex-m = "0.6.0"
embedded-hal = "0.2.3"
nb = "0.1.2"
atsams70j19  = { version = "0.0.1", path = "../pac/atsams70j19", optional = true }
atsams70j19b = { version = "0.0.1", path = "../pac/atsams70j19b", optional = true }
atsams70j20  = { version = "0.0.1", path = "../pac/atsams70j20", optional = true }
atsams70j20b = { version = "0.0.1", path = "../pac/atsams70j20b", optional = true }
atsams70j21  = { version = "0.0.1", path = "../pac/atsams70j21", optional = true }
atsams70j21b = { version = "0.0.1", path = "../pac/atsams70j21b", optional = true }
atsams70n19  = { version = "0.0.1", path = "../pac/atsams70n19", optional = true }
atsams70n19b = { version = "0.0.1", path = "../pac/atsams70n19b", optional = true }
atsams70n20  = { version = "0.0.1", path = "../pac/atsams70n20", optional = true }
atsams70n20b = { version = "0.0.1", path = "../pac/atsams70n20b", optional = true }
atsams70n21  = { version = "0.0.1", path = "../pac/atsams70n21", optional = true }
atsams70n21b = { version = "0.0.1", path = "../pac/atsams70n21b", optional = true }
atsams70q19  = { version = "0.0.1", path = "../pac/atsams70q19", optional = true }
atsams70q19b = { version = "0.0.1", path = "../pac/atsams70q19b", optional = true }
atsams70q20  = { version = "0.0.1", path = "../pac/atsams70q20", optional = true }
atsams70q20b = { version = "0.0.1", path = "../pac/atsams70q20b", optional = true }
atsams70q21  = { version = "0.0.1", path = "../pac/atsams70q21", optional = true }
atsams70q21b = { version = "0.0.1", path = "../pac/atsams70q21b", optional = true }

[features]
device-selected = []
sams70j19  = ["atsams70j19", "device-selected"]
sams70j19b = ["atsams70j19b", "device-selected"]
sams70j20  = ["atsams70j20", "device-selected"]
sams70j20b = ["atsams70j20b", "device-selected"]
sams70j21  = ["atsams70j21", "device-selected"]
sams70j21b = ["atsams70j21b", "device-selected"]
sams70n19  = ["atsams70n19", "device-selected"]
sams70n19b = ["atsams70n19b", "device-selected"]
sams70n20  = ["atsams70n20", "device-selected"]
sams70n20b = ["atsams70n20b", "device-selected"]
sams70n21  = ["atsams70n21", "device-selected"]
sams70n21b = ["atsams70n21b", "device-selected"]
sams70q19  = ["atsams70q19", "device-selected"]
sams70q19b = ["atsams70q19b", "device-selected"]
sams70q20  = ["atsams70q20", "device-selected"]
sams70q20b = ["atsams70q20b", "device-selected"]
sams70q21  = ["atsams70q21", "device-selected"]
sams70q21b = ["atsams70q21b", "device-selected"]