[package]
name = "atsamx7x-hal"
version = "0.1.0"
authors = ["Michal Fita <michal.fita@gmail.com>", "Viktor Sonesten <viktor.sonesten@grepit.se>"]
description = "HAL and peripheral access API for ATSAME70, ATSAMS70, ATSAMV70, and ATSAMV71 microcontrollers"
categories = [
    "embedded",
    "hardware-support",
    "no-std"
]
keywords = [
    "no-std",
    "arm",
    "cortex-m",
    "embedded-hal",
    "hal"
]
license = "0BSD"
repository = "https://github.com/michalfita/atsams-rust"
readme = "README.md"
edition = "2018"

[dependencies]
cortex-m = "0.7"
embedded-hal = "0.2.3"
nb = "0.1.2"

atsame70j19  = { version = "0.21.0", path = "../pac/atsame70j19", optional = true }
atsame70j19b = { version = "0.21.0", path = "../pac/atsame70j19b", optional = true }
atsame70j20  = { version = "0.21.0", path = "../pac/atsame70j20", optional = true }
atsame70j20b = { version = "0.21.0", path = "../pac/atsame70j20b", optional = true }
atsame70j21  = { version = "0.21.0", path = "../pac/atsame70j21", optional = true }
atsame70j21b = { version = "0.21.0", path = "../pac/atsame70j21b", optional = true }
atsame70n19  = { version = "0.21.0", path = "../pac/atsame70n19", optional = true }
atsame70n19b = { version = "0.21.0", path = "../pac/atsame70n19b", optional = true }
atsame70n20  = { version = "0.21.0", path = "../pac/atsame70n20", optional = true }
atsame70n20b = { version = "0.21.0", path = "../pac/atsame70n20b", optional = true }
atsame70n21  = { version = "0.21.0", path = "../pac/atsame70n21", optional = true }
atsame70n21b = { version = "0.21.0", path = "../pac/atsame70n21b", optional = true }
atsame70q19  = { version = "0.21.0", path = "../pac/atsame70q19", optional = true }
atsame70q19b = { version = "0.21.0", path = "../pac/atsame70q19b", optional = true }
atsame70q20  = { version = "0.21.0", path = "../pac/atsame70q20", optional = true }
atsame70q20b = { version = "0.21.0", path = "../pac/atsame70q20b", optional = true }
atsame70q21  = { version = "0.21.0", path = "../pac/atsame70q21", optional = true }
atsame70q21b = { version = "0.21.0", path = "../pac/atsame70q21b", optional = true }
atsams70j19  = { version = "0.21.0", path = "../pac/atsams70j19", optional = true }
atsams70j19b = { version = "0.21.0", path = "../pac/atsams70j19b", optional = true }
atsams70j20  = { version = "0.21.0", path = "../pac/atsams70j20", optional = true }
atsams70j20b = { version = "0.21.0", path = "../pac/atsams70j20b", optional = true }
atsams70j21  = { version = "0.21.0", path = "../pac/atsams70j21", optional = true }
atsams70j21b = { version = "0.21.0", path = "../pac/atsams70j21b", optional = true }
atsams70n19  = { version = "0.21.0", path = "../pac/atsams70n19", optional = true }
atsams70n19b = { version = "0.21.0", path = "../pac/atsams70n19b", optional = true }
atsams70n20  = { version = "0.21.0", path = "../pac/atsams70n20", optional = true }
atsams70n20b = { version = "0.21.0", path = "../pac/atsams70n20b", optional = true }
atsams70n21  = { version = "0.21.0", path = "../pac/atsams70n21", optional = true }
atsams70n21b = { version = "0.21.0", path = "../pac/atsams70n21b", optional = true }
atsams70q19  = { version = "0.21.0", path = "../pac/atsams70q19", optional = true }
atsams70q19b = { version = "0.21.0", path = "../pac/atsams70q19b", optional = true }
atsams70q20  = { version = "0.21.0", path = "../pac/atsams70q20", optional = true }
atsams70q20b = { version = "0.21.0", path = "../pac/atsams70q20b", optional = true }
atsams70q21  = { version = "0.21.0", path = "../pac/atsams70q21", optional = true }
atsams70q21b = { version = "0.21.0", path = "../pac/atsams70q21b", optional = true }
atsamv71j19  = { version = "0.21.0", path = "../pac/atsamv71j19", optional = true }
atsamv71j19b = { version = "0.21.0", path = "../pac/atsamv71j19b", optional = true }
atsamv71j20  = { version = "0.21.0", path = "../pac/atsamv71j20", optional = true }
atsamv71j20b = { version = "0.21.0", path = "../pac/atsamv71j20b", optional = true }
atsamv71j21  = { version = "0.21.0", path = "../pac/atsamv71j21", optional = true }
atsamv71j21b = { version = "0.21.0", path = "../pac/atsamv71j21b", optional = true }
atsamv71n19  = { version = "0.21.0", path = "../pac/atsamv71n19", optional = true }
atsamv71n19b = { version = "0.21.0", path = "../pac/atsamv71n19b", optional = true }
atsamv71n20  = { version = "0.21.0", path = "../pac/atsamv71n20", optional = true }
atsamv71n20b = { version = "0.21.0", path = "../pac/atsamv71n20b", optional = true }
atsamv71n21  = { version = "0.21.0", path = "../pac/atsamv71n21", optional = true }
atsamv71n21b = { version = "0.21.0", path = "../pac/atsamv71n21b", optional = true }
atsamv71q19  = { version = "0.21.0", path = "../pac/atsamv71q19", optional = true }
atsamv71q19b = { version = "0.21.0", path = "../pac/atsamv71q19b", optional = true }
atsamv71q20  = { version = "0.21.0", path = "../pac/atsamv71q20", optional = true }
atsamv71q20b = { version = "0.21.0", path = "../pac/atsamv71q20b", optional = true }
atsamv71q21  = { version = "0.21.0", path = "../pac/atsamv71q21", optional = true }
atsamv71q21b = { version = "0.21.0", path = "../pac/atsamv71q21b", optional = true }

[features]
device-selected = []
same70j19  = ["atsame70j19", "device-selected"]
same70j19-rt = ["same70j19", "atsame70j19/rt"]
same70j19b = ["atsame70j19b", "device-selected"]
same70j19b-rt = ["same70j19b", "atsame70j19b/rt"]
same70j20  = ["atsame70j20", "device-selected"]
same70j20-rt = ["same70j20", "atsame70j20/rt"]
same70j20b = ["atsame70j20b", "device-selected"]
same70j20b-rt = ["same70j20b", "atsame70j20b/rt"]
same70j21  = ["atsame70j21", "device-selected"]
same70j21-rt = ["same70j21", "atsame70j21/rt"]
same70j21b = ["atsame70j21b", "device-selected"]
same70j21b-rt = ["same70j21b", "atsame70j21b/rt"]
same70n19  = ["atsame70n19", "device-selected"]
same70n19-rt = ["same70n19", "atsame70n19/rt"]
same70n19b = ["atsame70n19b", "device-selected"]
same70n19b-rt = ["same70n19b", "atsame70n19b/rt"]
same70n20  = ["atsame70n20", "device-selected"]
same70n20-rt = ["same70n20", "atsame70n20/rt"]
same70n20b = ["atsame70n20b", "device-selected"]
same70n20b-rt = ["same70n20b", "atsame70n20b/rt"]
same70n21  = ["atsame70n21", "device-selected"]
same70n21-rt = ["same70n21", "atsame70n21/rt"]
same70n21b = ["atsame70n21b", "device-selected"]
same70n21b-rt = ["same70n21b", "atsame70n21b/rt"]
same70q19  = ["atsame70q19", "device-selected"]
same70q19-rt = ["same70q19", "atsame70q19/rt"]
same70q19b = ["atsame70q19b", "device-selected"]
same70q19b-rt = ["same70q19b", "atsame70q19b/rt"]
same70q20  = ["atsame70q20", "device-selected"]
same70q20-rt = ["same70q20", "atsame70q20/rt"]
same70q20b = ["atsame70q20b", "device-selected"]
same70q20b-rt = ["same70q20b", "atsame70q20b/rt"]
same70q21  = ["atsame70q21", "device-selected"]
same70q21-rt = ["same70q21", "atsame70q21/rt"]
same70q21b = ["atsame70q21b", "device-selected"]
same70q21b-rt = ["same70q21b", "atsame70q21b/rt"]
sams70j19  = ["atsams70j19", "device-selected"]
sams70j19-rt = ["sams70j19", "atsams70j19/rt"]
sams70j19b = ["atsams70j19b", "device-selected"]
sams70j19b-rt = ["sams70j19b", "atsams70j19b/rt"]
sams70j20  = ["atsams70j20", "device-selected"]
sams70j20-rt = ["sams70j20", "atsams70j20/rt"]
sams70j20b = ["atsams70j20b", "device-selected"]
sams70j20b-rt = ["sams70j20b", "atsams70j20b/rt"]
sams70j21  = ["atsams70j21", "device-selected"]
sams70j21-rt = ["sams70j21", "atsams70j21/rt"]
sams70j21b = ["atsams70j21b", "device-selected"]
sams70j21b-rt = ["sams70j21b", "atsams70j21b/rt"]
sams70n19  = ["atsams70n19", "device-selected"]
sams70n19-rt = ["sams70n19", "atsams70n19/rt"]
sams70n19b = ["atsams70n19b", "device-selected"]
sams70n19b-rt = ["sams70n19b", "atsams70n19b/rt"]
sams70n20  = ["atsams70n20", "device-selected"]
sams70n20-rt = ["sams70n20", "atsams70n20/rt"]
sams70n20b = ["atsams70n20b", "device-selected"]
sams70n20b-rt = ["sams70n20b", "atsams70n20b/rt"]
sams70n21  = ["atsams70n21", "device-selected"]
sams70n21-rt = ["sams70n21", "atsams70n21/rt"]
sams70n21b = ["atsams70n21b", "device-selected"]
sams70n21b-rt = ["sams70n21b", "atsams70n21b/rt"]
sams70q19  = ["atsams70q19", "device-selected"]
sams70q19-rt = ["sams70q19", "atsams70q19/rt"]
sams70q19b = ["atsams70q19b", "device-selected"]
sams70q19b-rt = ["sams70q19b", "atsams70q19b/rt"]
sams70q20  = ["atsams70q20", "device-selected"]
sams70q20-rt = ["sams70q20", "atsams70q20/rt"]
sams70q20b = ["atsams70q20b", "device-selected"]
sams70q20b-rt = ["sams70q20b", "atsams70q20b/rt"]
sams70q21  = ["atsams70q21", "device-selected"]
sams70q21-rt = ["sams70q21", "atsams70q21/rt"]
sams70q21b = ["atsams70q21b", "device-selected"]
sams70q21b-rt = ["sams70q21b", "atsams70q21b/rt"]
samv71j19  = ["atsamv71j19", "device-selected"]
samv71j19-rt = ["samv71j19", "atsamv71j19/rt"]
samv71j19b = ["atsamv71j19b", "device-selected"]
samv71j19b-rt = ["samv71j19b", "atsamv71j19b/rt"]
samv71j20  = ["atsamv71j20", "device-selected"]
samv71j20-rt = ["samv71j20", "atsamv71j20/rt"]
samv71j20b = ["atsamv71j20b", "device-selected"]
samv71j20b-rt = ["samv71j20b", "atsamv71j20b/rt"]
samv71j21  = ["atsamv71j21", "device-selected"]
samv71j21-rt = ["samv71j21", "atsamv71j21/rt"]
samv71j21b = ["atsamv71j21b", "device-selected"]
samv71j21b-rt = ["samv71j21b", "atsamv71j21b/rt"]
samv71n19  = ["atsamv71n19", "device-selected"]
samv71n19-rt = ["samv71n19", "atsamv71n19/rt"]
samv71n19b = ["atsamv71n19b", "device-selected"]
samv71n19b-rt = ["samv71n19b", "atsamv71n19b/rt"]
samv71n20  = ["atsamv71n20", "device-selected"]
samv71n20-rt = ["samv71n20", "atsamv71n20/rt"]
samv71n20b = ["atsamv71n20b", "device-selected"]
samv71n20b-rt = ["samv71n20b", "atsamv71n20b/rt"]
samv71n21  = ["atsamv71n21", "device-selected"]
samv71n21-rt = ["samv71n21", "atsamv71n21/rt"]
samv71n21b = ["atsamv71n21b", "device-selected"]
samv71n21b-rt = ["samv71n21b", "atsamv71n21b/rt"]
samv71q19  = ["atsamv71q19", "device-selected"]
samv71q19-rt = ["samv71q19", "atsamv71q19/rt"]
samv71q19b = ["atsamv71q19b", "device-selected"]
samv71q19b-rt = ["samv71q19b", "atsamv71q19b/rt"]
samv71q20  = ["atsamv71q20", "device-selected"]
samv71q20-rt = ["samv71q20", "atsamv71q20/rt"]
samv71q20b = ["atsamv71q20b", "device-selected"]
samv71q20b-rt = ["samv71q20b", "atsamv71q20b/rt"]
samv71q21  = ["atsamv71q21", "device-selected"]
samv71q21-rt = ["samv71q21", "atsamv71q21/rt"]
samv71q21b = ["atsamv71q21b", "device-selected"]
samv71q21b-rt = ["samv71q21b", "atsamv71q21b/rt"]
